<div class = 'importing-animation' data-info = "{{data}}" data-course-name =" {{coursename}}">
    <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
    </div>
    <p>{{message}}</p>

</div>
{{#js}}
require(['report_reflectionexporter/reflectionexporter'], function(ReflectionExporter) {
   ReflectionExporter.init(JSON.parse(document.querySelector('.importing-animation').getAttribute('data-info')))
});
{{/js}}