<div class = 'importing-animation' data-info = "{{data}}" data-course-name = "{{coursename}}">
    {{#new}}
         {{> report_reflectionexporter/loading }}
        <p>{{message}}</p>
    {{/new}}
</div>
{{#js}}
require(['report_reflectionexporter/reflectionexporter'], function(ReflectionExporter) {
   ReflectionExporter.init(JSON.parse(document.querySelector('.importing-animation').getAttribute('data-info')))
});
{{/js}}