{{! PDF Section }}
<div data-region="viewer" id="viewerContainer" tabindex="0">
    <div id="viewer" class="pdfViewer"></div>       
</div>
{{! Comment section }}
<div class = "supervisor-comment">
    
    <h4 class ="reflection-completed">This reflection has been completed. </h4>
    
    <form class = "reflection-comment-form" hidden>
        <div class="form-group">
            <label for="comment"><strong>Supervisor comments:</strong></label>
            <textarea class="form-control" id="comment" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-primary save-show-next-btn">Save and show next</button>
        <button type="submit" class="btn btn-primary save-exit-btn">Save and exit</button>
    </form>   
  
    <div class="next-action next-action-hidden" >
        <a class="action btn btn-lg btn-summary-hidden" id = "summary" title = 'Omitted students'>
                <img class="icon iconsize-big" alt="" aria-hidden="true" src="http://localhost/cgs/moodle/report/reflectionexporter/pix/clipboard.png">
                <div class="action-text">Summary</div>
            </a>
        <form id ="zipform" method = "post" action = "{{downloadaction}}">
             <input name="datajson" type="hidden" value="{{datajson}}">
            <a class="action btn btn-lg" id = "download" title = 'Downloads the full batch'>
                <img class="icon iconsize-big" alt="" aria-hidden="true" src="http://localhost/cgs/moodle/report/reflectionexporter/pix/zip.png">
                <div class="action-text">Download </div>
            </a>
        </form>

    </div>

<div id="myModal" class="reflection-exporter-modal">

  <!-- Modal content -->
  <div class="reflection-exporter-modal-content">
    <span class="close">&times;</span>
    <div class = "omitted-table-container">
        <div class = "omitted-table"></div>
    </div>
  </div>

</div>
</div>



