<div class="actions">
   <a class="action btn btn-lg" href="{{{existingproc}}}">
      <i class="icon fa fa-file-o fa-fw  iconsize-big" aria-hidden="true"></i>
      <div class="action-text">Continue existing export</div>
   </a>
   <a class="action btn btn-lg" href="{{{newproc}}}">
      <i class="icon fa fa-files-o fa-fw  iconsize-big" aria-hidden="true"></i>
      <div class="action-text">New export process</div>
   </a>
</div>