<h2>{{#str}} reflection-exporter-heading, report_reflectionexporter {{/str}}</h2>

<div class="actions">
   <a class="action btn btn-lg" href="{{{existingproc}}}">
      <img class="icon iconsize-big" alt="" aria-hidden="true" src="{{{existingicon}}}" />
      <div class="action-text">{{#str}} action-text-continue, report_reflectionexporter {{/str}}</div>
   </a>
   <a class="action btn btn-lg" href="{{{newproc}}}">
      <img class="icon iconsize-big" alt="" aria-hidden="true" src="{{{newicon}}}" />
      <div class="action-text">{{#str}} action-text-new, report_reflectionexporter {{/str}}</div>
   </a>
</div>