{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @package    report
    @subpackage reflectionexporter
    @copyright  2022 Veronica Bermegui
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}

<div class="actions">
   <a class="action btn btn-lg" href="{{{newproc}}}">
      <img class="icon" alt="" aria-hidden="true" src="{{{newicon}}}" />
      <div class="action-text">{{#str}} action-text-new, report_reflectionexporter {{/str}}</div>
   </a>
</div>

{{#processfound}}
    <div class = "select-work">
    <h4>{{#str}}selectwork, report_reflectionexporter{{/str}}</h4>
    <br>
    <table class="table table-bordered table-responsive started-work">
    <thead>
    <tr>
        <th>{{#str}}datecreated, report_reflectionexporter{{/str}}</th>
        {{#istok}}
            <th>{{#str}}whostartedproc, report_reflectionexporter{{/str}}</th>
        {{/istok}}
        <th>{{#str}}status, report_reflectionexporter{{/str}}</th>
        <th>{{#str}}export, report_reflectionexporter{{/str}}</th>
        <th>{{#str}}download, report_reflectionexporter{{/str}}</th>
        {{#istok}}
            <th>{{#str}}spswc, report_reflectionexporter{{/str}}</th>
        {{/istok}}
        <th>{{#str}}delete, report_reflectionexporter{{/str}}</th>
    </tr>
    </thead>
    <tbody>
    {{#processes}}
        <tr>
            <td>{{datecreated}}</td>
            {{#istok}}
                <td>{{teacher}}</td>
            {{/istok}}
            <td>{{status}}</td>
            <td>
                 <a type="button" class="btn " href = "{{{actionurl}}}" title = '{{title}}'>
                 <img class="icon reflection-exporter-action-btn" alt="" aria-hidden="true" src="{{{existingicon}}}" />
                </a>
            </td>
            <td>
                <form id ="zipform" method = "post" action = "{{{downloadurl}}}" class = 'reflection-exporter-forms-selected'>
                    <input name="datajson" type="hidden" value="{{datajson}}" />
                    <button type="submit" class = "reflection-exporter-download-index" {{^finished}} disabled title = "Download not available"{{/finished}}>
                        <img class="icon reflection-exporter-action-btn" src="{{{zipicon}}}"/>
                    </button>
                </form>
            </td>
            {{#istok}}
                <td>
                    <form id ="exportform" method = "post" action = "{{{exporturl}}}"  class = 'reflection-exporter-forms-selected' >
                        <input name="rid" type="hidden" value="{{rid}}" />
                        <button type="submit" class = "reflection-exporter-download-index" {{^finished}} disabled title = "Download not available"{{/finished}}>
                            <img class="icon reflection-exporter-action-btn" src="{{{spreadsheeticon}}}"/>
                        </button>
                    </form>
                </td>
            {{/istok}}

            <td>
                <a type="button" class="btn " title = 'Delete' >
                    <img class="icon reflection-exporter-action-btn" alt="" aria-hidden="true" src="{{{deleteicon}}}" data-to-delete = "{{todelete}}" />
                </a>
                <div class = 'deleting del-processing'>
                    {{> report_reflectionexporter/loading }}
                </div>
            </td>
        </tr>
    {{/processes}}
    </tbody>
    </table>
    </div>
{{/processfound}}

{{#js}}
require(['report_reflectionexporter/delete'], function(Delete) {
  new Delete()
});
{{/js}}