{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @package    report
    @subpackage reflectionexporter
    @copyright  2022 Veronica Bermegui
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}

    <div class="next-action next-action-hidden" >
        <a class="action btn btn-lg btn-summary-hidden" id = "summary" title = 'Omitted students'>
                <img class="icon iconsize-big" alt="" aria-hidden="true" src="http://localhost/cgs/moodle/report/reflectionexporter/pix/clipboard.png">
                <div class="action-text">Summary</div>
            </a>
        <form id ="zipform" method = "post" action = "{{downloadaction}}">
             <input name="datajson" type="hidden" value="{{datajson}}">
            <a class="action btn btn-lg" id = "download" title = 'Downloads the full batch'>
                <img class="icon iconsize-big" alt="" aria-hidden="true" src="http://localhost/cgs/moodle/report/reflectionexporter/pix/zip.png">
                <div class="action-text">Download </div>
            </a>
        </form>
    </div>
