{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @package    report
    @subpackage reflectionexporter
    @copyright  2022 Veronica Bermegui
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}

    <div class="next-action next-action-hidden" >
        <a class="action btn btn-lg btn-summary-hidden" id = "summary" title = "{{#str}}ommitedstudents, report_reflectionexporter{{/str}}">
                <img class="icon iconsize-big" alt="" aria-hidden="true" src="{{summaryicon}}">
                <div class="action-text">{{#str}}summary, report_reflectionexporter{{/str}}</div>
            </a>
        <form id ="zipform" method = "post" action = "{{downloadaction}}">
             <input name="datajson" type="hidden" value="{{datajson}}">
            <a class="action btn btn-lg" id = "download" title = "{{#str}}downloadforms, report_reflectionexporter{{/str}}"">
                <img class="icon iconsize-big" alt="" aria-hidden="true" src="{{zipicon}}">
                <div class="action-text">
                    <span>Download</span><br>
                    <span>forms</span>
                </div>
            </a>
        </form>
        {{#tkform}}
            <form id ="exportspreadsheet" method = "post" action = "{{exportspreadhseetaction}}">
                <input name="datajson" type="hidden" value="{{rid}}">
                <a class="action btn btn-lg" id = "export" title = "{{#str}}downloadspreadsheets, report_reflectionexporter{{/str}}">
                    <img class="icon iconsize-big" alt="" aria-hidden="true" src="{{exporticon}}">
                    <div class="action-text">
                        <span>Download</span><br>
                        <span>spreadsheet</span>
                    </div>
                </a>
            </form>
        {{/tkform}}
    </div>
