{{#groups}}
    {{#group}}
        Group: {{name}} <br>
        {{#teachers}}
            <span>Supervisor: {{firstname}} {{lastname}}. Initials: {{si}} </span><br>
        {{/teachers}}
    {{/group}}
{{/groups}}
