{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @package    report
    @subpackage reflectionexporter
    @copyright  2022 Veronica Bermegui
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}

<div data-region="viewer-navigation-panel"
     data-first-userid="{{firstuserid}}"
     data-courseid="{{courseid}}"
     data-showuseridentity="{{showuseridentity}}"
     data-rid="{{reflecid}}">
   {{> report_reflectionexporter/viewer_navigation }}
</div>
<div data-region="viewer-panel" class ='viewerPanel'>
<div data-region = 'pdf-comment-container'>
    {{> report_reflectionexporter/view_panel }}
    </div>
</div>

<div data-region="overlay" class="moodle-has-zindex">
    {{> report_reflectionexporter/save_in_progress }}
</div>

{{! Keeps a reference to the PDFS generated }}
<div class = 'data-pdfjson' hidden data-pdfs = {{pdfjson}}></div>