<div class="container-fluid">
<div data-region="viewer-navigation" class="row reflection-container">

<div data-region="reflectionexporter-info" class="col-md-4 col-sm" data-courseid = "{{courseid}}">
            {{! Course name & link.}}
<a href="{{globals.config.wwwroot}}/course/view.php?id={{courseid}}" id = "courseurl" title="{{{coursename}}}">Course: {{{coursename}}}</a><br/>
<a href="{{globals.config.wwwroot}}/report/reflectionexporter/index.php?cid={{courseid}}" id = "reporturl" title="Reflection exporter">Reflection exporter</a>
</div>
        {{! Current user name and info }}
<div data-region="user-info" class="col-md-4 col-sm" data-rid="{{reflecid}}" data-userid="{{userid}}">
    {{> report_reflectionexporter/viewing_navigation_user_info }}
</div>
        {{! User selector widget }}
<div data-region="user-selector" class="col-md-4 col-sm">
    <div class="alignment">
        {{> report_reflectionexporter/viewing_navigation_user_selector }}
    </div>
</div>
</div>
{{#js}}
require(['report_reflectionexporter/viewing_navigation'], function(viewingNavigation) {
    new viewingNavigation('[data-region="user-selector"]');
});
{{/js}}

